{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="Verport" content="width=device-width, initial-scale=1.0">
	<title>Inicio - Nombre del Club</title>
    <link rel="stylesheet" href="{% static '/landing/startup/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static '/landing/startup/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static '/landing/startup/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static '/landing/startup/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static '/landing/startup/css/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static '/landing/startup/css/nice-select.css'%}">
    <link rel="stylesheet" href="{% static '/landing/startup/css/flaticon.css'%}">
    <link rel="stylesheet" href="{% static '/landing/startup/css/gijgo.css'%}">
    <link rel="stylesheet" href="{% static '/landing/startup/css/animate.min.css'%}">
    <link rel="stylesheet" href="{% static '/landing/startup/css/slick.css'%}">
    <link rel="stylesheet" href="{% static '/landing/startup/css/slicknav.css'%}">
    <link rel="stylesheet" href="{% static '/landing/startup/css/style.css'%}">
</head>

<body>
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="{% static '/landing/startup/img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="main-menu  d-none d-lg-block text-center">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="index.html">Inicio</a></li>
 										<li><a href="#">paginas <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="#">random</a></li>
                                                <li><a href="#">random</a></li>
                                                <li><a href="#">random</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-2 d-none d-lg-block">
                            <div class="log_chat_area d-flex align-items-end">
                                <a href="#" data-scroll-nav="0" class="say_hi">Say Hello</a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-start">
                    <div class="col-lg-10 col-md-10">
                        <div class="slider_text">
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                                Lorem ipsum dolor, sit amet, consectetur adipisicing elit. 
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- service_area  -->
    <!-- <div class="service_area mt-0 pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-4">
                    <div class=" text-center wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".4s">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
                    </div>
                </div>
                <hr >
                <div class="col-xl-9 col-md-8">
                    <div class=" text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                    	<span>
                        <div class="icon">
                            <img src="{% static '/landing/startup/img/svg_icon/2.svg' %}" alt="">
                        </div>
                        <h3>Web design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>

                    	</span>
                        vs
                        <span>
                        	
                        <div class="icon">
                            <img src="{% static '/landing/startup/img/svg_icon/2.svg' %}" alt="">
                        </div>
                        <h3>Web design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--/ service_area  -->

    

    <!-- portfolio_image_area  -->
    <div class="portfolio_image_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-90">
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Galeria
                        	<hr style="background-color:rgb(129,75,204);width:2em;margin-top:0px;padding-top:0px">
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="portfolio_thumb">
                            <img src="{% static '/landing/startup/img/slider_1.jpg' %}" alt="">
                        </div>
                        <div class="portfolio_hover">
                            <div class="title">
 								<a class="boxed-btn3" href="#">Ver</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="portfolio_thumb">
                            <img src="{% static '/landing/startup/img/slider_2.jpg' %}" alt="">
                        </div>
                        <div class="portfolio_hover">
                            <div class="title">
 								<a class="boxed-btn3" href="#">Ver</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-lg-4">
                    <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="portfolio_thumb">
                            <img src="{% static '/landing/startup/img/slider_3.jpg' %}" alt="">
                        </div>
                        <div class="portfolio_hover">
                            <div class="title">
 								<a class="boxed-btn3" href="#">Ver</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-lg-4">
                    <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                        <div class="portfolio_thumb">
                            <img src="{% static '/landing/startup/img/slider_4.jpg' %}" alt="">
                        </div>
                        <div class="portfolio_hover">
                            <div class="title">
 								<a class="boxed-btn3" href="#">Ver</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-lg-4">
                    <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                        <div class="portfolio_thumb">
                            <img src="{% static '/landing/startup/img/slider_5.jpg' %}" alt="">
                        </div>
                        <div class="portfolio_hover">
                            <div class="title">
 								<a class="boxed-btn3" href="#">Ver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    

    <div class="about_area">
    	<div class="container">
    		<div class="row justify-content-end">
    			<div class="col-lg-5 offset-lg-1">
    				<div class="about_info">
    					<div class="section_title white_text">
    						<h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
    							Club
    						</h3>
    						<h4 class="wow fadeInUp text-white" style="text-align:center" data-wow-duration="1s" data-wow-delay=".4s">Historia 
    						<hr style="background-color:white;text-align:left;width:2rem">
    						</h4>
    						<p class="mid_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt officiis quas repellendus reprehenderit accusantium.</p>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>



    <!-- team_member_start -->
    <div class="team_area ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-90">
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Directivos
                        <hr style="background-color:rgb(129,75,204);width:2em;margin-top:0px;padding-top:0px">
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="team_thumb">
                            <img src="{% static '/landing/startup/img/team/1.png' %}" alt="">
                            <div class="team_hover">
                                <div class="hover_inner text-center">
                                    <ul>
                                        <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                        <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                        <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team_title text-center">
                            <h3>Brandon Yeald</h3>
                            <p>Entrenador</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="team_thumb">
                            <img src="{% static '/landing/startup/img/team/2.png' %}" alt="">
                            <div class="team_hover">
                                <div class="hover_inner text-center">
                                    <ul>
                                        <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                        <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                        <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team_title text-center">
                            <h3>Calvin Anderson</h3>
                            <p>Entrenador</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                        <div class="team_thumb">
                            <img src="{% static '/landing/startup/img/team/3.png' %}" alt="">
                            <div class="team_hover">
                                <div class="hover_inner text-center">
                                    <ul>
                                        <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                        <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                        <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team_title text-center">
                            <h3>Roman Solo</h3>
                            <p>Presidente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ team_member_end -->

    <!-- testimonial_area  -->
    <div class="testimonial_area ">
    	<div class="container">
    		<div class="row">
    			<div class="col-xl-12">
    				<div class="testmonial_active owl-carousel">
    					<div class="single_carousel">
    						<div class="single_testmonial text-center">
    							<div class="quote">
    								<img src="{% static '/landing/startup/img/testmonial/quote.svg' %}" alt="">
    							</div>
    							<p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> 
    								sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
    							Fusce ac mattis nulla. Morbi eget ornare dui. </p>
    							<div class="testmonial_author">
    								<h3>Cristiano Ronaldo</h3>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
  
    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row align-items-center">
                	<div class="col-lg-4"></div>
                    <div class="col-lg-4 col-md-12">
                        <div class="footer_logo wow fadeInRight" style="text-align: center!important;margin-bottom:2rem" data-wow-duration="1s" data-wow-delay=".3s">
                            <a href="index.html">
                                <img src="{% static '/landing/startup/img/logo.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                	<div class="col-lg-4"></div>
                </div>
                <div class="row align-items-center" style="margin-bottom:2rem">
                    <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInRight">
                    	<h3 class="text-center text-white">Pagina</h3>
                    	<hr style="background-color:white; width:2em;">
                    	<ul class="text-white">
                    		<li>a</li>
                    		<li>a</li>
                    		<li>a</li>
                    		<li>a</li>
                    		<li>a</li>
                    	</ul>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInRight">
                    	<h3 class="text-center text-white">Club</h3>
                    	<hr style="background-color:white; width:2em;">
                    	<ul class="text-white">
                    		<li>a</li>
                    		<li>a</li>
                    		<li>a</li>
                    		<li>a</li>
                    		<li>a</li>
                    	</ul>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInRight">
                    	<h3 class="text-center text-white">Dirección</h3>
                    	<hr style="background-color:white; width:2em;">
                    	<ul class="text-white">
                    		<li>a</li>
                    		<li>a</li>
                    		<li>a</li>
                    		<li>a</li>
                    		<li>a</li>
                    	</ul>
                    </div>
                </div>
                <div class="row align-items-center">
                    
                	<div class="col-lg-4"></div>
                    <div class="col-lg-4 col-md-12">
                        <div class="socail_links" style="text-align: center!important;">
                            <ul>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" href="#"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s" href="#"> <i class="fa fa-twitter"></i> </a></li>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" href="#"> <i class="fa fa-instagram"></i> </a></li>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s" href="#"> <i class="fa fa-google-plus"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                	<div class="col-lg-4"></div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.3s">Copyright &copy;{% now 'Y' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

    <!-- JS here -->
    <script src="{% static '/landing/startup/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static '/landing/startup/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static '/landing/startup/js/popper.min.js' %}"></script>
    <script src="{% static '/landing/startup/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/landing/startup/js/owl.carousel.min.js' %}"></script>
    <script src="{% static '/landing/startup/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static '/landing/startup/js/ajax-form.js' %}"></script>
    <script src="{% static '/landing/startup/js/waypoints.min.js' %}"></script>
    <script src="{% static '/landing/startup/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static '/landing/startup/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static '/landing/startup/js/scrollIt.js' %}"></script>
    <script src="{% static '/landing/startup/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static '/landing/startup/js/wow.min.js' %}"></script>
    <script src="{% static '/landing/startup/js/nice-select.min.js' %}"></script>
    <script src="{% static '/landing/startup/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static '/landing/startup/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static '/landing/startup/js/plugins.js' %}"></script>
    <script src="{% static '/landing/startup/js/gijgo.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static '/landing/startup/js/contact.js' %}"></script>
    <script src="{% static '/landing/startup/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static '/landing/startup/js/jquery.form.js' %}"></script>
    <script src="{% static '/landing/startup/js/jquery.validate.min.js' %}"></script>
    <script src="{% static '/landing/startup/js/mail-script.js' %}"></script>

    <script src="{% static '/landing/startup/js/main.js' %}"></script>
</body>

</html>